<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Nibiru Password Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load staticfiles %}    
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet">
    {% block cssfiles %}
    {% endblock %}
    <script src="{% static "js/jquery.js" %}"></script>    
    <script src="{% static "js/bootstrap.js" %}"></script>    
    {% block jsfiles %}
    {% endblock %}
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Nibiru Password Manager</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">              
              <span class="user-links">
                <a href="/admin/password_change/">Configuration</a>
                <span class="separator">|</span>
                  <a href="/logout/">Sing out</a>
              </span>
            </p>
            <ul class="nav">
              <li class="active">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categorys <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {% for category in list_categorys %}
                  <li><a href="/category/list/{{ category.name }}/">{{ category.name }}</a></li>
                  {% endfor %}
                  <li><a href="/category/list/all/">All</a></li>
                </ul>
              </li>              
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">New <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/item/new/">New Item</a></li>
                  <li><a href="/category/new/">New Category</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>    
    <div class="left-bar hidden-phone">
      <ul class="nav nav-list">
        {% block categorys %}        
          {% for category in list_categorys %}
              <li{% if '/category/list/'|add:category.name|add:'/' == request.path  %} class="active category" {% else %} class="category" {% endif%}>
                  <a href="/category/list/{{ category.name }}"><i class="icon-tag"></i> {{ category.name }}</a>
              </li>
          {% endfor %}
          <li{% if '/category/list/all/' == request.path  %} class="active category" {% else %} class="category" {% endif%}>
              <a href="/category/list/all"><i class="icon-tag"></i> All</a>
          </li>
        {% endblock %}
      </ul>
    </div>
    <div class="right-bar">
      {% block content %}
      <div class="visible-phone">
        <p>Mobile version</p>
      </div>
      {% endblock %}
    </div>
  </body>
</html>
