{% extends "admin/ctl2psw_base_site.html" %}

{% block menu_app %}
	<div class="left-nav" id="left-nav">
		<div style="text-align: right; margin: 10px;">
			<a href="/item/new/" class="btn btn-success">
		        <i class="icon-plus-sign icon-white"></i> Nuevo
		    </a>
	    </div>
  		<ul>
			{% for category in categorys %}
				<li{% if '/category/'|add:category.name|add:'/' == request.path  %} class="active"{% endif %}>
			        <a href="/category/{{ category.name }}"><i class="icon-home"></i>{{ category.name }} </a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock%}

{% block content %}    
	<ul>
	{% for item in items %}
		<li>{{ item.name }}</li>
	{% endfor %}
	</ul>
{% endblock %}