{% extends "admin/ctl2psw_base_site.html" %}

{% block menu_app %}
	<div class="left-nav" id="left-nav">
  		<ul>
			{% for category in categorys %}
				<li{% if '/category/'|add:category.name|add:'/' == request.path  %} class="active"{% endif %}>
			        <a href="/category/{{ category.name }}"><i class="icon-home"></i>{{ category.name }} </a>
				</li>
			{% endfor %}
		</ul>
	</div>    
{% endblock%}

{% block content %}    
    <h1>Probando Listas</h1>
	<div class="results">
        <table id="result_list" class="table table-striped table-bordered table-hover table-condensed">
            <thead>
            	<tr>                
                    <th scope="col" class="action-checkbox-column">                       
                        <div class="text"><span><input type="checkbox" id="action-toggle" style="display: inline-block;"></span>
                        </div>
                    </th>
                    {% for field in fields %}
                    <th scope="col" class="__str__-column ">                        
                        <div class="text"><span>{{ field}}</span></div>
                    </th>
                    {% endfor %}
            </tr>
            </thead>
            <tbody>                  
            	{% load web_extras %}
            	{% for item in items %}
					<tr class="row1">
						<td class="action-checkbox"><input class="action-select" name="_selected_action" type="checkbox" value="1"></td>
						{% for field in fields %}                		
                			<th><a href="/admin/web/item/1/">{{ item|get_attr:field }} </a></th>
                		{% endfor %}
                	</tr>
              	{% endfor %} 
            </tbody>
        </table>
    </div>
{% endblock %}