{% extends "base.html" %}

{% block content %}
    <div class="page-header">
        <h2>{{ name_category }} <small>List</small></h2>
        <form action="" method="GET" class="form" style="margin: 0px;">
            <input class="input-block-level" type="text" placeholder="Search..." id="search" name="search" value="" />
        </form>
    </div>
    
    {% if list_items|length > 0 %}
        
        <table class="table table-condensed table-striped table-hover">
            <thead>
                <th>
                    <td>Name</td>
                    <td class="hidden-phone">Url</td>
                    <td class="hidden-phone">Username</td>                
                    <td class="hidden-phone" colspan="2">Password</td>
                    <td>Expire</td>
                    <td class="hidden-phone">Comments</td>
                    <td width="20px"></td>
                </th>
            </thead>
            <tbody class="items">
                {% for item in list_items %}
                <tr class="item">
                    <td>
                        <a href="/item/view/{{ item.id }}/"><i class="icon-edit"></i></a>
                    </td>
                    <td>
                        <a href="/item/view/{{ item.id }}/">{{ item.name }}</a>
                    </td>
                    <td class="hidden-phone"><a href="{{ item.url }}" target="_blank">{{ item.url }}</a></td>
                    <td class="hidden-phone"><b>{{ item.username }}</b></td>
                    <td class="hidden-phone" width="100px">
                        <span id="password_{{ item.id }}">******</span>
                    </td>
                    <td class="hidden-phone">
                        <a href="#" id="{{ item.id }}" class="toggle_password" alt="{{ item.password }}" title="Toggle Password"><i class="icon-eye-close"></i></a>
                    </td>
                    <td>
                        {% if item.never_expire %}
                            <span class="label label-success label-expire">Never</span>
                        {% else %}
                            <span class="label label-warning label-expire">{{ item.expire_at|date:'d/m/Y' }}</span>
                        {% endif %}
                    </td>
                    <td class="hidden-phone">{{ item.comments }}</td>
                    <td>
                        <a href="/item/delete/{{ item.id }}/" class="delete"><i class="icon-remove"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="paginator">
                {% if list_items.numer > 1 %}
                <a href="?page=1">First</a>
                {% endif %}
                {% if list_items.has_previous %}
                <a href="?page={{ list_items.previous_page_number }}">Back</a>
                {% endif %}
                {% if list_items.has_next %}
                <a href="?page={{ list_items.next_page_number }}">Next</a> 
                {% endif %}
                {% if not list_items.number = list_items.paginator.num_pages %}                
                <a href="?page={{ list_items.paginator.num_pages }}">Last</a>
                {% endif %}                
        </div>     
        <script type="text/javascript">
            $(".delete").click(function(){
                if(confirm('Do you want to delete this item ?'))
                    return true;
                return false;
            });
            $(".toggle_password").click(function(){
                if($("#password_" + this.id).text() == "******"){                
                    $("#password_" + this.id).text($(this).attr('alt'));
                    $($(this).children('i')[0]).removeClass('icon-eye-close');
                    $($(this).children('i')[0]).addClass('icon-eye-open');
                }
                else{
                    $("#password_" + this.id).text("******");
                    $($(this).children('i')[0]).removeClass('icon-eye-open');
                    $($(this).children('i')[0]).addClass('icon-eye-close');
                }
            });            
        </script>
    {% else %}
        {% if name_category != 'all' %}
        <a href="#" class="btn btn-primary">Delete Category</a>
        {% endif %}
    {% endif %}

{% endblock %}