html, body{
  font-size: 12px;
}
.page-header{
  margin: 0 0 10px;
}
.paginator{
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}
.paginator a{
  width: 40px;
  display: inline-block;
  margin-right: 2px;
  margin-left: 2px;
  border: 1px solid #DDD;
  border-radius: 6px;
  text-align: center;
}
.paginator a:hover{
  text-decoration: none;
  background: #0088cc;
  color: #FFF;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px){
  .left-bar{
    position: fixed;
    left: 0px;
    top: 50px;
  }        
  .right-bar{
    padding: 10px;
    margin-left: 200px;
    margin-top: 30px;
    margin-bottom: 20px;    
  }
  .center-bar{   
    margin: auto;   
    margin-top: 10%;
  }
  .form{
    width: 400px;    
  }
  .login-form{  
    margin: auto;    
    width: 300px;
  }
  .label-expire{
    width: 80px;
    text-align: center;
  }  
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .category{
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .login-form{  
    margin: auto;    
    width: 100%;
  }
  .input-prepend input.input-login{
    width: 90%;
  }
}